body {
    all: unset;
    padding: 0;
    margin: 0;
    background-color: #9a9a9a;
    display: flex;
    justify-content: center;
}

.hoverstyle:hover {
    text-decoration: underline;
    cursor: pointer;
}