@font-face {
    font-family: 'suite';
    src: url('./docs/fonts/SUITE-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    all: unset;
    padding: 0;
    margin: 0;
    background-color: #9a9a9a;
    display: flex;
    justify-content: center;
}

.hoverstyle:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Main.js */
.posthoverstyle:hover {
    transform: scale(1.03);
}

/* Library.js */
.childhoverstyle {
    transition: all .2s;
    cursor: pointer;
}

.childhoverstyle:hover {
    box-shadow: 5px 5px 15px #40a298;
}