@font-face {
    font-family: 'suite';
    src: url('./docs/fonts/SUITE-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    all: unset;
    padding: 0;
    margin: 0;
    background-color: #9a9a9a;
    display: flex;
}

.hoverstyle:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Main.js, ReqCetnre.js */
.posthoverstyle {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.posthoverstyle:hover {
    transform: scale(1.03);
}

/* Forum.js */
.postmenuhoverstyle {
    cursor: pointer;
}

.postmenuhoverstyle:hover {
    border-bottom: 1px solid gray;
}

/* Library.js */
.childhoverstyle {
    transition: all .2s;
    cursor: pointer;
}

.childhoverstyle:hover {
    box-shadow: 0 0 15px #002aff;
}

.menuhoverstyle {
    transition: all .2s;
    cursor: pointer;
}

.menuhoverstyle:hover {
    background-color: #dedede;
}